<div class="row">
    <div class="col-6 offset-3">
        <form action="" [formGroup]="danhmucForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="">Tên danh mục</label>
                <input type="text" class="form-control"
                    formControlName="name" >
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">
                    Lưu
                </button>
            </div>
        </form>
    </div>
</div>