<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="">Tìm kiếm</label>
            <input type="text" class="form-control" 
                    [value]="keyword" (keyup)="search($event)">        
        </div>
    </div>
</div>
<br>
<table class="table table-stripped">
    <thead>
        <th>#</th>
        <th>Tên danh mục</th>
        <th>Số lượng truyện</th>
        <th>
            <a href="javascript:;" 
                class="btn btn-success"
                routerLink="/admin/danh-muc/tao-moi">Tạo mới</a>
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let c of cates;index as i">
            <td>{{i+1}}</td>
            <td>{{c.name}}</td>
            <td>
                <span *ngIf="c.comics != undefined">{{c.comics.length}}</span>
            </td>
            <td>
                <button routerLink="/admin/danh-muc/sua/{{c.id}}" class="btn btn-info">Cập nhật</button>
                &nbsp;
                <button class="btn btn-danger">Xóa</button>
            </td>
        </tr>
    </tbody>
</table>