<div class="row">
    <div class="col-4" *ngFor="let c of counter(20)">
        <div class="card" style="width: 100%; margin-bottom: 10px;">
            <img src="http://st.imageinstant.net/data/comics/232/thuc-linh-vuong.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>
