<div class="row">
    <div class="col-6 offset-3">
        <form action="" [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="">Tên danh mục</label>
                <input type="text" class="form-control"
                    formControlName="name" >
            </div>
            <div class="alert alert-danger" 
                *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
                <span *ngIf="f.name.errors?.required">Nhập tên danh mục</span>
                <span *ngIf="f.name.errors?.minlength">Tên danh mục cần ít nhất 4 ký tự</span>
            </div>
            <div class="text-center">
                <button type="submit" 
                    [disabled]="editForm.invalid"
                    class="btn btn-primary">
                    Lưu
                </button>
            </div>
        </form>
    </div>
</div>